<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="profile">
    <h1> Derek Strickland</h1>
    <img class="profile-image" src="assets/headshot.png">
      <h3>Founder, CEO</h3>
      <h4>derek@nascenthq.com</h4>
      <div class="bio">
        With over twenty years of experience building commercial enterprise, SaaS, 
        and systems products, Derek knows how to screen talent and create an environment 
        that fosters high performance teams that achieve and maintain consistent, 
        high throughput. Derek oversees all aspects of operations, and culture maintenance. 
      </div>
  </div>
</ion-content>
