// Titillium Web light
@font-face {
    font-family: Titillium Web;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

// Titillium Web Regular
@font-face {
    font-family: Titillium Web;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

// Titillium Web SemiBold
@font-face {
    font-family: Titillium Web;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

// Titillium Web Bold
@font-face {
    font-family: Titillium Web;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

// Titillium Web Medium
@font-face {
    font-family: Titillium Web;
    src: url(../assets/fonts/TitilliumWeb/TitilliumWeb-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}
