/*  #Style Search - Field + Header
===========================================*/
search-bar-layout-2 {
  .scroll-content {
    margin-top: 140px !important;
  }

  [background-size] {
    padding: 16px 8px;

    .searchbar-input {
      border: 1px solid theme-colors('mainColors', 'secondary');
    }

    [search-bar-title] {
      color: color($searchPage, search-title-field-header-1);
      padding-bottom: 10px;
    }
  }
}
