/*  #Style Sticky List Header - Basic
================================================*/

sticky-list-header-layout-1 {
  [ion-affix] {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    border-top: none !important;
    background: theme-colors('mainColors', 'primary');
    color: theme-colors('textColors', 'primary');
    line-height: 30px;
  }
}
