<!-- Themes Login + logo 1 -->
<ion-content has-header *ngIf="data != null" background-size [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
  <ion-grid no-padding *ngIf="data != null">
    <!--- Settings Segmet Block -->
    <div segment-block>
      <ion-segment has-header [(ngModel)]="selectedItem">
        <ion-segment-button value="login" text-capitalize>
          {{data.segmentLogin}}
        </ion-segment-button>
        <ion-segment-button value="register" text-capitalize>
          {{data.segmentRegister}}
        </ion-segment-button>
      </ion-segment>
    </div>
    <!--- SETTINGS LOGIN SCREEN -->
    <ion-row *ngIf="isEnabled('login')" padding-left padding-right align-items-center>
      <ion-col margin-bottom col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-item transparent margin-top no-padding no-lines>
          <!---Logo Title-->
          <h1 item-start login-title no-margin>{{data.login.title}}</h1>
          <div item-content no-margin no-padding>
            <button ion-button button-clear text-uppercase clear no-margin no-padding (click)="onEvent('onSkip')">{{data.skip}}</button>
          </div>
        </ion-item>
      </ion-col>
      <ion-col text-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->
        <img [src]="data.logo">
        <form>
          <!---Input field username-->
          <ion-item text-center transparent>
            <ion-label stacked>{{data.login.labelUsername}}</ion-label>
            <ion-input text-center required type="text" [placeholder]="data.login.username" [(ngModel)]="usernameLogin" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isUsernameValidLogin">{{data.login.errorUser}}</ion-label>
          </ion-item>
          <!---Input field password-->
          <ion-item transparent>
            <ion-label stacked>{{data.login.labelPassword}}</ion-label>
            <ion-input text-center required type="password" [placeholder]="data.login.password" [(ngModel)]="passwordLogin" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isPasswordValidLogin">{{data.login.errorPassword}}</ion-label>
          </ion-item>
          <button ion-button button-clear text-capitalize clear float-right no-margin no-padding (click)="onEvent('onForgot')">{{data.login.forgotPassword}}</button>
          <!-- Settings Button Login Screen -->
          <!---Login button-->
          <button ion-button full default-button login-button text-capitalize box-shadow (click)="onEvent('onLogin')">{{data.login.login}}</button>
          <!---Facebook button-->
          <button ion-button full default-button text-capitalize icon-end box-shadow margin-bottom (click)="onEvent('onFacebook')">
            {{data.login.facebookLogin}}
            <i icon-small class="icon icon-facebook"></i>
        </button>
        </form>
      </ion-col>
    </ion-row>

    <!--- SETTINGS REGISTER SCREEN -->
    <ion-row *ngIf="isEnabled('register')" padding-left padding-right align-items-center>
      <ion-col margin-bottom col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-item transparent margin-top no-padding no-lines>
          <!-- Register Title -->
          <h1 register-title item-start text-wrap>{{data.register.title}}</h1>
          <!-- Button Skip -->
          <div item-content no-margin no-padding>
            <button no-margin no-padding ion-button button-clear text-uppercase clear (click)="onEvent('onSkip')">{{data.skip}}</button>
          </div>
        </ion-item>
      </ion-col>
      <ion-col text-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->
        <img [src]="data.logo">
        <!--Form-->
        <form>
          <ion-item text-center transparent>
            <!---Input field username-->
            <ion-label stacked>{{data.register.lableUsername}}</ion-label>
            <ion-input text-center required [placeholder]="data.register.username" type="text" [(ngModel)]="usernameRegister" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isUsernameValidRegister">{{data.register.errorUser}}</ion-label>
          </ion-item>
          <ion-item text-center transparent>
            <!---Input field password-->
            <ion-label stacked>{{data.register.lablePassword}}</ion-label>
            <ion-input text-center required [placeholder]="data.register.password" type="password" [(ngModel)]="passwordRegister" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isPasswordValidRegister">{{data.register.errorPassword}}</ion-label>
          </ion-item>
          <ion-item text-center transparent>
            <!---Input field email-->
            <ion-label stacked>{{data.register.lableEmail}}</ion-label>
            <ion-input text-center required [placeholder]="data.register.email" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]="emailRegister" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isEmailValidRegister">{{data.register.errorEmail}}</ion-label>
          </ion-item>
          <ion-item text-center transparent>
            <!---Input field country-->
            <ion-label stacked>{{data.register.lableCountry}}</ion-label>
            <ion-input text-center required [placeholder]="data.register.country" type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="countryRegister" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isCountryValidRegister">{{data.register.errorCountry}}</ion-label>
          </ion-item>
          <ion-item text-center transparent>
            <!---Input field city-->
            <ion-label stacked>{{data.register.lableCity}}</ion-label>
            <ion-input text-center required [placeholder]="data.register.city" type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="cityRegister" [ngModelOptions]="{standalone: true}"></ion-input>
            <ion-label error-field no-margin *ngIf="!isCityValidRegister">{{data.register.errorCity}}</ion-label>
          </ion-item>
          <!---Register button-->
          <button ion-button default-button full text-capitalize box-shadow margin-bottom margin-top (click)="onEvent('onRegister')">{{data.register.register}}</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
