/*  #Style Register + logo
================================================*/
register-layout-1 {
  [background-size] {
    position: relative;
    background-position: right !important;
  }

  .scroll-content {
    padding-bottom: 0 !important;

    img {
      max-width: 170px;
      max-height: 40px;
      margin-bottom: 10px;
    }

    ion-grid {
      height: 100%;

      ion-row {
        height: 100%;

        .item-inner {
          padding-right: 0 !important;
        }
        //Setting Form
        form {
          ion-item {
            padding-left: 0 !important;
            padding-bottom: 15px !important;

            &.item-input-has-value {
              ion-input {
                background: rgba(0, 99, 255, 0.6) !important;
              }

              ion-datetime {
                background: rgba(0, 99, 255, 0.6) !important;
              }
            }

            &.item-input-has-focus {
              ion-input {
                background: rgba(0, 99, 255, 0.6) !important;
              }

              ion-datetime {
                background: rgba(0, 99, 255, 0.6) !important;
              }
            }

            [error-field] {
              margin: 0 !important;
              position: absolute !important;
              bottom: 0 !important;
              right: 5px !important;
              font-size: $h6-font-size;
            }

            .item-inner {
              border-bottom: none !important;
              box-shadow: none !important;
              padding-right: 0 !important;
            }

            ion-label {
              margin: 0 5px !important;
            }

            ion-input {
              background: rgba(0, 99, 255, 0.4) !important;
              margin: 5px 10px 15px 10px !important;
              padding: 5px 10px !important;
              border-radius: $border-radius;
              z-index: 999;

              .input-cover {
                display: none;
              }
            }
          }

          [stacked] {
            font-size: $text-font-size !important;
          }

          .item-label-stacked ion-datetime {
            background: rgba(0, 99, 255, 0.4) !important;
            margin: 5px 10px 15px 10px !important;
            padding: 5px 10px !important;
            border-radius: $border-radius;
            z-index: 999;
          }

          .datetime-text {
            color: theme-colors('textColors', 'primary') !important;
            margin: 8px 0;
          }
        }
        // Title
        [register-title] {
          color: color($register, register-logo-title);
        }
      }
    }
  }
}

.picker-md .picker-opt {
  color: theme-colors('textColors', 'primary');
}
