<ion-header>
  <ion-toolbar>
    <ion-title>
      Missions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item default-item no-lines class="fade-in-item" *ngFor="let item of animateItems | async; let i = index;">
                        <ion-icon slot="start" color="medium" name="{{item.icon}}"></ion-icon>
                        <span class="title">{{item.title}}</span>
                        <button ion-button button-clear text-uppercase clear no-margin no-padding (click)="onExecute">Run Mission</button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
